:root{
	--text-black: rgb(64,64,64);
	--highlight: #DCDCDD;
	--darkhighlight: #46494C;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.row-scroll::-webkit-scrollbar {
	height: 5px;
}

.row-scroll::-webkit-scrollbar-thumb {
	background: #46494C;
	border-radius: 20px;
}

.vertical-scroll::-webkit-scrollbar {
	width: 5px;
}

.vertical-scroll::-webkit-scrollbar-thumb {
	background: #46494C;
	border-radius: 20px;
}

html, body{
	width: 100%;
	height: 100%;
	background-color: #46494C;
	color: white;
}

.center-row{
	justify-content: center;
}

.vertical-center{
	align-items: center;
}

.row-scroll{
	flex-wrap: nowrap;
	overflow: hidden;
	overflow-x: scroll;
	padding: 0.5%;
	width: 95%;
	margin: auto;
}

.sticky{
	top: 0;
	position: sticky;
	background-color: white;
	padding-bottom: 0.1%;
}